html body{
	background-color: rgb(233, 210, 190);
}
html {
  height: 100%;
}
body {
  min-height: 100%;
}

.carousel {
    height: 1%;
    margin-top: 10 auto;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
}
